.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  min-width: 0;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 7 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 5 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.copyright {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .copyright {
    align-items: center;
    justify-content: flex-start;
  }
}
.about {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  cursor: pointer;
  flex-direction: row;
  font-weight: 700;
  font-size: 16px;
  min-width: 0;
  border-radius: 6px;
  padding: 3px;
  border: 1px solid transparent;
}
.about > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.about > :global(.__wab_flex-container) > *,
.about > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.about > :global(.__wab_flex-container) > picture > img,
.about > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
.about {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  cursor: pointer;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  min-width: 0;
  border-radius: 6px;
  padding: 3px;
  border: 1px solid transparent;
}
@media (min-width: 0px) and (max-width: 768px) {
  .about {
    text-align: center;
    font-size: 16px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .about {
    text-align: center;
    font-size: 16px;
  }
}
.text__vytO6 {
  font-weight: 500;
  color: var(--token-ZS3qww8ZYgx_);
  font-size: 10px;
  line-height: 26px;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-style: normal;
  text-align: left;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding: 3px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__vytO6 {
    text-align: center;
  }
}
.links {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .links {
    align-items: center;
    justify-content: center;
  }
}
.links2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  cursor: pointer;
  flex-direction: row;
  font-weight: 700;
  font-size: 16px;
  color: var(--token-ZS3qww8ZYgx_);
  min-width: 0;
  border-radius: 6px;
  padding: 3px;
  border: 1px solid transparent;
}
.links2 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.links2 > :global(.__wab_flex-container) > *,
.links2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.links2 > :global(.__wab_flex-container) > picture > img,
.links2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.links2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  cursor: pointer;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  color: var(--token-ZS3qww8ZYgx_);
  min-width: 0;
  border-radius: 6px;
  padding: 3px;
  border: 1px solid transparent;
}
@media (min-width: 0px) and (max-width: 768px) {
  .links2 {
    text-align: center;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .links2 {
    text-align: center;
  }
}
.services {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  font-size: 12px;
  color: var(--token-NKEpXAZVgChs);
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 3px;
  border: 1px solid transparent;
}
.services > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.services > :global(.__wab_flex-container) > *,
.services > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.services > :global(.__wab_flex-container) > picture > img,
.services
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text__lWJff {
  font-weight: 500;
  color: var(--token-ZS3qww8ZYgx_);
  font-size: 12px;
  line-height: 26px;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-style: normal;
  text-align: left;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.aboutUs {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 3px;
  border: 1px solid transparent;
}
.aboutUs > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.aboutUs > :global(.__wab_flex-container) > *,
.aboutUs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.aboutUs > :global(.__wab_flex-container) > picture > img,
.aboutUs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text__yFGF {
  font-weight: 500;
  color: var(--token-ZS3qww8ZYgx_);
  font-size: 12px;
  line-height: 26px;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-style: normal;
  text-align: left;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.gallery {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 3px;
  border: 1px solid transparent;
}
.gallery > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.gallery > :global(.__wab_flex-container) > *,
.gallery > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.gallery > :global(.__wab_flex-container) > picture > img,
.gallery
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text__d2EY1 {
  font-weight: 500;
  color: var(--token-ZS3qww8ZYgx_);
  font-size: 12px;
  line-height: 26px;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-style: normal;
  text-align: left;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.contact2 {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 3px;
  border: 1px solid transparent;
}
.contact2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.contact2 > :global(.__wab_flex-container) > *,
.contact2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.contact2 > :global(.__wab_flex-container) > picture > img,
.contact2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.contact {
  font-weight: 500;
  color: var(--token-ZS3qww8ZYgx_);
  font-size: 12px;
  line-height: 26px;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
