.about {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: var(--token-jgohepLVeKvh);
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.about > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .about > * {
    grid-column: 4;
  }
}
.floatingMenu:global(.__wab_instance) {
  left: auto;
  top: 10px;
  position: fixed;
  right: 10px;
  bottom: 0;
  z-index: 1;
  width: auto;
  height: auto;
}
.header:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  transition-property: all;
  transition-duration: 1s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.hero {
  display: grid;
  position: relative;
  align-content: center;
  justify-items: center;
  width: 100%;
  background: url("/plasmic/elegant_new_website_test_3_9_24/images/homeBackground0Jpeg.jpg") top 50% left 50% / cover repeat,
    var(--token-ZS3qww8ZYgx_);
  height: 415px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 100px;
}
.hero > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hero {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .hero > * {
    grid-column: 4;
  }
}
.freeBox__b5G {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___8A59W {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 8px;
}
.h1___6F8U1 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-vk7OyacY6Wry);
  text-transform: uppercase;
  text-align: center;
  min-width: 0;
}
.freeBox__mPK {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.mobileHero {
  position: relative;
  align-content: center;
  justify-items: center;
  width: 100%;
  background: url("/plasmic/elegant_new_website_test_3_9_24/images/homeBackground0Jpeg.jpg") top 50% left 50% / cover repeat;
  height: 460px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  display: none;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 100px;
}
.mobileHero > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .mobileHero {
    display: grid;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .mobileHero > * {
    grid-column: 4;
  }
}
.freeBox__goems {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h1__m1Lar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 8px;
}
.text__kfUnp {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-tSp5QVy9Z7of);
  text-transform: uppercase;
  text-align: left;
  min-width: 0;
}
.section__zyrJe {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  background: var(--token-pxs5khDZnrXK);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 50px 30px;
}
.section__zyrJe > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__zyrJe {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__zyrJe > * {
    grid-column: 4;
  }
}
.reveal__brChi:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__lsIiL {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__lsIiL > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__lsIiL > :global(.__wab_flex-container) > *,
.freeBox__lsIiL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lsIiL > :global(.__wab_flex-container) > picture > img,
.freeBox__lsIiL
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.text {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.text > :global(.__wab_flex-container) > *,
.text > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.text > :global(.__wab_flex-container) > picture > img,
.text > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 20px;
}
.h2__zjr60 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-R0I0TMYo42Pe);
  font-weight: 700;
  text-align: center;
  color: var(--token-ZS3qww8ZYgx_);
  min-width: 0;
  padding: 8px 0px;
}
.text__qanNp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-ZS3qww8ZYgx_);
  min-width: 0;
}
.photos {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: hidden;
  min-width: 0;
  padding: 8px;
}
.photos > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.photos > :global(.__wab_flex-container) > *,
.photos > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.photos > :global(.__wab_flex-container) > picture > img,
.photos
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 15px;
}
.freeBox__x2W1Y {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__x2W1Y > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox__x2W1Y > :global(.__wab_flex-container) > *,
.freeBox__x2W1Y > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__x2W1Y > :global(.__wab_flex-container) > picture > img,
.freeBox__x2W1Y
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.img___50Ko8 {
  object-fit: cover;
  max-width: 100%;
}
.img___50Ko8 > picture > img {
  object-fit: cover;
}
.section__dxzNl {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  background: var(--token-pxs5khDZnrXK);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.section__dxzNl > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__dxzNl > * {
    grid-column: 4;
  }
}
.reveal__sz9C:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .reveal__sz9C:global(.__wab_instance) {
    display: flex;
  }
}
.freeBox__qhgSi {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__qhgSi > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__qhgSi > :global(.__wab_flex-container) > *,
.freeBox__qhgSi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qhgSi > :global(.__wab_flex-container) > picture > img,
.freeBox__qhgSi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.text2 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h2__sgkRe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-R0I0TMYo42Pe);
  font-weight: 600;
  align-self: center;
  text-align: center;
  color: var(--token-ZS3qww8ZYgx_);
  min-width: 0;
  padding: 8px 0px;
}
.text__kKYsm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  text-align: center;
  color: var(--token-ZS3qww8ZYgx_);
  min-width: 0;
}
.photos2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: hidden;
  min-width: 0;
  padding: 8px;
}
.photos2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.photos2 > :global(.__wab_flex-container) > *,
.photos2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.photos2 > :global(.__wab_flex-container) > picture > img,
.photos2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 15px;
}
.img___28Htt {
  width: 100%;
  position: relative;
  height: 250px;
  margin-top: calc(30px + 15px) !important;
  object-fit: contain;
  margin-bottom: 30px;
  min-width: 0;
  flex-shrink: 0;
}
.img___28Htt > picture > img {
  object-fit: contain;
}
.faQs {
  display: grid;
  position: relative;
  align-content: center;
  justify-items: center;
  width: 100%;
  background: var(--token-D-DnokVQM8xi);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 50px 0px;
}
.faQs > * {
  grid-column: 4;
}
.h2___4Gr3G {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-R0I0TMYo42Pe);
  text-align: center;
  min-width: 0;
}
.cmsDataFetcher:global(.__wab_instance) {
  width: 100%;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  min-width: 0;
}
.freeBox__alwr {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  border-radius: 5px;
  padding: 0px;
}
.accordion:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  color: var(--token-H6tNR1ptEC5l);
  min-width: 0;
  border-radius: 3px;
}
.accordionItem__h2AmT:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.pcls_Buzmi_sH3Riu {
  font-weight: 600;
  font-size: var(--token-EOc5_HWAriNs);
  background: var(--token-Q8yrNFKwqzAy);
  outline: none;
}
.text___3MRv7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__gqX0K {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.accordionItem__lczAs:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: 1px;
  display: none;
}
.text__ekpMz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__o5OiK {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.cancelationPolicy {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  background: #000000;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 30px 10px;
}
.cancelationPolicy > * {
  grid-column: 4;
}
.text___0UTqt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-R0I0TMYo42Pe);
  color: var(--token-Q8yrNFKwqzAy);
  text-align: center;
  font-weight: 700;
  min-width: 0;
}
.text__zmovC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-Q8yrNFKwqzAy);
  min-width: 0;
}
.followUs:global(.__wab_instance) {
  max-width: 100%;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
}
