.services {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: var(--token-jgohepLVeKvh);
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.services > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .services > * {
    grid-column: 4;
  }
}
.floatingMenu:global(.__wab_instance) {
  left: auto;
  top: 10px;
  position: fixed;
  right: 10px;
  bottom: 0;
  z-index: 1;
  width: auto;
  height: auto;
}
.header:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  transition-property: all;
  transition-duration: 1s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.hero {
  display: grid;
  position: relative;
  align-content: center;
  justify-items: center;
  width: 100%;
  background: url("/plasmic/elegant_new_website_test_3_9_24/images/homeBackground0Jpeg.jpg") top 50% left 50% / cover repeat,
    var(--token-ZS3qww8ZYgx_);
  height: 415px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 100px;
}
.hero > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hero {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .hero > * {
    grid-column: 4;
  }
}
.freeBox___7NnEo {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__vsbM {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 8px;
}
.text__vgaqk {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-vk7OyacY6Wry);
  text-transform: uppercase;
  text-align: center;
  min-width: 0;
}
.link__o6VId {
  display: flex;
}
.bookButton:global(.__wab_instance) {
  max-width: 100%;
}
.text__q77Wr {
  text-transform: uppercase;
}
.freeBox__pYq0 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.mobileHero {
  position: relative;
  align-content: center;
  justify-items: center;
  width: 100%;
  background: url("/plasmic/elegant_new_website_test_3_9_24/images/homeBackground0Jpeg.jpg") top 50% left 50% / cover repeat;
  height: 460px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  display: none;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 100px;
}
.mobileHero > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .mobileHero {
    display: grid;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .mobileHero > * {
    grid-column: 4;
  }
}
.freeBox__uQDi {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__nIb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 8px;
}
.text__tIRnJ {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-tSp5QVy9Z7of);
  text-transform: uppercase;
  text-align: left;
  min-width: 0;
}
.link__ynY6 {
  align-self: flex-start;
  display: flex;
}
.bookButton2:global(.__wab_instance) {
  max-width: 100%;
  height: 35px;
  width: 110px;
  flex-shrink: 0;
}
.text__jFgWk {
  text-transform: uppercase;
  font-size: 14px;
}
.lips {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  background: var(--token-pxs5khDZnrXK);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 50px 30px;
}
.lips > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .lips > * {
    grid-column: 4;
  }
}
.reveal___8PtDg:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__nfDsu {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__wJ08N {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-vk7OyacY6Wry);
  text-transform: uppercase;
  color: var(--token-ZS3qww8ZYgx_);
  min-width: 0;
}
.svg__xglfq {
  object-fit: cover;
  width: 55px;
  color: #f70101;
  height: 30px;
  flex-shrink: 0;
}
.columns___1KUpY {
  display: flex;
  position: relative;
  width: 768px;
  height: auto;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns___1KUpY > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
  --plsmc-rc-col-gap: 30px;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.columns___1KUpY > :global(.__wab_flex-container) > *,
.columns___1KUpY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___1KUpY > :global(.__wab_flex-container) > picture > img,
.columns___1KUpY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
  margin-top: 30px;
}
.columns___1KUpY > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns___1KUpY > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___1KUpY {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___1KUpY > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___1KUpY > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__vUakM {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.service__hToQs:global(.__wab_instance) {
  max-width: 100%;
  height: 340px;
  flex-shrink: 0;
}
.column__w5Ydz {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.service__tZv2M:global(.__wab_instance) {
  max-width: 100%;
  height: 340px;
  flex-shrink: 0;
}
.column___120Va {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.service___32E1C:global(.__wab_instance) {
  max-width: 100%;
  height: 340px;
  flex-shrink: 0;
}
.column__km2L {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.service__akeUh:global(.__wab_instance) {
  max-width: 100%;
  height: 340px;
  flex-shrink: 0;
}
.column__tnkC {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.service___1XUqE:global(.__wab_instance) {
  max-width: 100%;
  height: 340px;
  flex-shrink: 0;
}
.text__mcs3O {
  padding-right: 0px;
}
.brows {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  background: var(--token-D-DnokVQM8xi);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 50px 30px;
}
.brows > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .brows > * {
    grid-column: 4;
  }
}
.reveal__s6J67:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__tkwh3 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__mKhsD {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-vk7OyacY6Wry);
  text-transform: uppercase;
  color: var(--token-ZS3qww8ZYgx_);
  min-width: 0;
}
.svg__ayQer {
  object-fit: cover;
  width: 55px;
  color: var(--token-Ik2o9IHWRu5r);
  height: 30px;
  flex-shrink: 0;
}
.columns__kSu5R {
  display: flex;
  position: relative;
  width: 768px;
  height: auto;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__kSu5R > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
  --plsmc-rc-col-gap: 30px;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.columns__kSu5R > :global(.__wab_flex-container) > *,
.columns__kSu5R > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__kSu5R > :global(.__wab_flex-container) > picture > img,
.columns__kSu5R
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
  margin-top: 30px;
}
.columns__kSu5R > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__kSu5R > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kSu5R {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kSu5R > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kSu5R > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__kdBig {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.service___8HCy4:global(.__wab_instance) {
  max-width: 100%;
  height: 340px;
  flex-shrink: 0;
}
.text__eGqjb {
  padding-bottom: 0px;
}
.column__ck1F {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.service__lsdTh:global(.__wab_instance) {
  max-width: 100%;
  height: 340px;
  flex-shrink: 0;
}
.text__lTdE9 {
  padding-bottom: 0px;
}
.column__o3Uww {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.service__uQ1Uw:global(.__wab_instance) {
  max-width: 100%;
  height: 340px;
  flex-shrink: 0;
}
.column__ofXrg {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.service__dDy7V:global(.__wab_instance) {
  max-width: 100%;
  height: 340px;
  flex-shrink: 0;
}
.text___8FdQd {
  padding-right: 0px;
}
.link___3Gr3Z {
  margin-top: 14px;
  display: flex;
}
.bookButton3:global(.__wab_instance) {
  max-width: 100%;
}
.text___5PKjV {
  text-transform: uppercase;
}
.followUs:global(.__wab_instance) {
  max-width: 100%;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
}
