.root {
  display: flex;
  position: relative;
  flex-direction: row;
  background: var(--token-ZS3qww8ZYgx_);
  cursor: pointer;
  transition-property: background;
  transition-duration: 0.1s;
  box-shadow: 0px 2px 5px 0px var(--token-Q8yrNFKwqzAy);
  -webkit-transition-property: background;
  -webkit-transition-duration: 0.1s;
  border-radius: 3px;
  padding: 12px 20px;
  border-width: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
.root___focusVisibleWithin {
  box-shadow: 0px 0px 0px 3px #96c7f2;
}
.root:focus-within {
  box-shadow: 0px 0px 0px 3px #96c7f2;
}
.root:hover {
  background: var(--token-D-DnokVQM8xi);
}
.root:active {
  background: var(--token-D-DnokVQM8xi);
}
.contentContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.slotTargetChildren {
  color: #ededec;
  font-weight: 600;
  white-space: pre;
}
.root:hover .slotTargetChildren {
  color: var(--token-ZS3qww8ZYgx_);
}
.root:active .slotTargetChildren {
  color: var(--token-ZS3qww8ZYgx_);
}
